<header class="header">
  <section class="header__container">
    <a routerLink="/quotes/home" routerLinkActive="active">
      <app-svg class="header__logo" icon="Logo" [size]=36 />
    </a>
    <section class="header__buttons">
      <!--       @if(userData){ -->
      <button (click)="logout()">logout</button>
      <button class="header__responsive-menu-button">
        <app-svg icon="{{closeMenuDisabled ? 'MenuOpen' : 'MenuClose'}}" (click)=" toggleAside()" color="white" />
      </button>
      <!--       } -->
    </section>
  </section>
</header>
