.aside {
  height: 100%;
  box-shadow: 0 0 1px var(--primary-color);
}

.aside__navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 3rem);
}

.aside__navbar li {
  padding-inline: 32px;
  align-self: center;
  border-bottom: 1px solid #f0f0f0;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.aside__navbar li:hover {
  background-color: var(--secondary-color);
  font-size: 1.2rem;
}
