.aside {
  transition: 0.2s ease-in-out;
  z-index: 1000;
  width: 100%;
}

.aside__navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 3rem);
}

::ng-deep .aside__navbar li a {
  padding-inline: 32px;
  align-self: center;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.aside__navbar li:hover {
  background-color: var(--color-100);
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .aside {
    transform: scaleY(0%);
    transform-origin: top;
    transition: 0.2s ease-in-out;
    position: fixed;
    color: white;
    left: 0;
    background: -moz-linear-gradient(0deg, var(--color-600), var(--color-400));
    background: -webkit-linear-gradient(
      0deg,
      var(--color-600),
      var(--color-400)
    );
    background: linear-gradient(var(0deg, --color-600), var(--color-400));
  }

  .aside--show-responsive {
    display: unset;
    transform: scaleY(100%);
    transition: 0.2s ease-in-out;
  }
}
