.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.body__header {
  align-items: center;
  padding: 10px 20px;
  background-color: #de0837;
  color: white;
}

.body__main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: max-content;
}

.body__main-router {
  place-self: center;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 70vh;
}

.body__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
}

.body__footer {
  padding-block: 20px;
  color: rgb(81, 76, 76);
  background-color: #f0f0f0;
}
