.book {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;
  align-items: center;
}

.book__title {
  font-size: 1.2em;
  font-weight: bold;
}

.book__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.book__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.book__button {
  background-color: #de0837;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.book__button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: var(--color-50);
  font-size: 1.2em;
  cursor: pointer;

  background: var(--color-600);
  background: linear-gradient(var(--color-500) 0%, var(--color-600) 100%);
  background: -moz-linear-gradient(var(--color-500) 0%, var(--color-600) 100%);
  background: -webkit-linear-gradient(
    var(--color-500) 0%,
    var(--color-600) 100%
  );
  transition: 0.15s ease-in-out;
}

.book__button:hover {
  color: white;
  background: var(--color-700);
  background: linear-gradient(var(--color-600) 0%, var(--color-700) 100%);
  background: -moz-linear-gradient(var(--color-600) 0%, var(--color-700) 100%);
  background: -webkit-linear-gradient(
    var(--color-600) 0%,
    var(--color-700) 100%
  );
}

.book__button:active {
  background: var(--color-800);
  background: linear-gradient(var(--color-700) 0%, var(--color-800) 100%);
  background: -moz-linear-gradient(var(--color-700) 0%, var(--color-800) 100%);
  background: -webkit-linear-gradient(
    var(--color-700) 0%,
    var(--color-800) 100%
  );
}
