<li class="book">
  <header class="book__header">
    <span class="book__title">
      {{typeParsed}}: {{book.title}}
      @if (renderAs === "added"){
      <span>x{{quantity}}</span>
      }
    </span>
  </header>
  <main class="book__details">
    @if (renderAs === "added"){
    <span class="book__price">Price: ${{priceParsed * quantity}}</span>
    } @else {
    <span class="book__price">Price: ${{priceParsed}}</span>
    }

  </main>
  @switch (renderAs) {
  @case ("list") {
  <section class="book__buttons">
    <button (click)="onAddBook()" class="book__button">+</button>
    <button (click)="onRemoveBook()" class="book__button">-</button>
  </section>
  }
  }
</li>
