<form (submit)="sendInfo($event)" class="form">
  <fieldset [formGroup]="form" class="form__fieldset">
    <legend class="form__legend">Quote</legend>
    <section class='form__group'>
      <app-label text='Budget' for='budget' />
      <input type="text" name="budget" id="budget" required formControlName="budget" class="form__input" />
      @if (submitted && f['budget'].errors) {
      <span class="form__error">
        @if (f['budget'].errors['required']) {
        Budget is required
        } @else if (f['budget'].errors['min']) {
        Budget cannot be negative
        }
      </span>
      }
    </section>
    <app-button text="Quote" class="form__submit" />
  </fieldset>
</form>
