.footer {
  border-top: 1px solid #f0f0f0;
  padding-top: 30px;
}

.footer__container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  overflow: hidden;
}

::ng-deep .footer__social-media li {
  list-style: none;
  display: flex;
  padding: 0;
}

.footer__social-media {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
