:host {
  height: 100% !important;
}

.budget__all-books-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .budget__all-books-list {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
  }
}
