:host {
  height: 100% !important;
}

.budget__added-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  justify-items: center;
}

.budget__added-books-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .budget__added-books-list {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
  }
}
