.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.body__header {
  align-items: center;
  padding: 10px 20px;
  background-color: #de0837;
  color: white;
}

.body__main {
  display: grid;
  flex-grow: 1;
  min-height: max-content;
}

.body__main-router {
  place-self: center;
}

.body__footer {
  padding-block: 20px;
  color: rgb(81, 76, 76);
  min-width: 100vw;
}
